<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<filter>
  <filter-name>CharsetFilter</filter-name>
  <filter-class>com.css.jsp.comm.CharsetFilter</filter-class>
  </filter>
<filter-mapping>
     <filter-name>CharsetFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>


<servlet>
	<servlet-name>DoLogin</servlet-name>
	<servlet-class>com.css.jsp.servlet.DoLogin</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DoLogin</servlet-name>
	<url-pattern>/DoLogin</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DoRegister</servlet-name>
	<servlet-class>com.css.jsp.servlet.DoRegister</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DoRegister</servlet-name>
	<url-pattern>/DoRegister</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DoDiary_list</servlet-name>
	<servlet-class>com.css.jsp.servlet.DoDiary_list</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DoDiary_list</servlet-name>
	<url-pattern>/DoDiary_list</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DoDiary_list_list</servlet-name>
	<servlet-class>com.css.jsp.servlet.DoDiary_list_list</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DoDiary_list_list</servlet-name>
	<url-pattern>/DoDiary_list_list</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DoInvalidate_session</servlet-name>
	<servlet-class>com.css.jsp.servlet.DoInvalidate_session</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DoInvalidate_session</servlet-name>
	<url-pattern>/DoInvalidate_session</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DoDiary_list2</servlet-name>
	<servlet-class>com.css.jsp.servlet.DoDiary_list2</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DoDiary_list2</servlet-name>
	<url-pattern>/DoDiary_list2</url-pattern>
</servlet-mapping>




<!-- <servlet>
	<servlet-name>index</servlet-name>
	<jsp-file>/index.jsp</jsp-file>
	<init-param>
		<param-name>mail</param-name>
		<param-value>inner.think@163.com</param-value>
	</init-param>
</servlet>

<servlet-mapping>
	<servlet-name>index</servlet-name>
	<url-pattern>/test</url-pattern>
</servlet-mapping> -->





</web-app>